<% colors = 4  %>

<div class = section_board>


  <div class = stats_container>

    <div class = stats_container_inside>
      <p><%= Monster.where(id: @monid1).pluck(:name).first %></p>
      <p>Equiped item: None</p>
      <p>Status: Healthy</p>
      <p>HP:
        <% for i in 1..Monster.where(id: @monid1).pluck(:healthpoints).first do %>
          <%= "●" %>
        <% end %></p>
    </div>

  </div>

  <div class = card_container>
    <div class = card_container_imgframe>
      
    </div>
  </div>

  <% monster_color1 = RailsDominantColors::Path.new("/home/tmmartin/Ruby/xmonka/app/assets/images/Card_" + @monid1 + ".jpeg", colors) %>
  <div class = card_container style="border-color: <%= monster_color1.to_hex[1] %>">
    <div class = card_container_imgframe style="border-color: <%= monster_color1.to_hex[3] %>" >
      <%= image_tag("Card_" + @monid1 + ".jpeg", :alt => "monster_1", size: '160x160') %>
    </div>

    <div class = card_container_info
         style="border-color: <%= monster_color1.to_hex[2] %>;">
      <p style="color: <%= monster_color1.to_hex[0] %>;"> <%= Monster.where(id: @monid1).pluck(:name).first %></p>
      <h3 style="color: <%= monster_color1.to_hex[0] %>;"> Move: <%= Move.where(id: Monster.where(id:@monid1).pluck(:move_id).first).pluck(:name).first %></h3>
      <h4 style="color: <%= monster_color1.to_hex[0] %>;"><%= Move.where(id: Monster.where(id:@monid1).pluck(:move_id).first).pluck(:description).first %></h4>
    </div>
  </div>



</div>


<div class = section_board>

  <% monster_color2 = RailsDominantColors::Path.new("/home/tmmartin/Ruby/xmonka/app/assets/images/Card_" + @monid2 + ".jpeg", colors) %>
  <div class = card_container style="border-color: <%= monster_color2.to_hex[1] %>">
    <div class = card_container_imgframe style="border-color: <%= monster_color2.to_hex[3] %>" >
      <%= image_tag("Card_" + @monid2 + ".jpeg", :alt => "monster_1", size: '160x160') %>
    </div>

    <div class = card_container_info
         style="border-color: <%= monster_color2.to_hex[2] %>;">
      <p style="color: <%= monster_color2.to_hex[0] %>;"> <%= Monster.where(id: @monid2).pluck(:name).first %></p>
      <h3 style="color: <%= monster_color2.to_hex[0] %>;"> Move: <%= Move.where(id: Monster.where(id:@monid2).pluck(:move_id).first).pluck(:name).first %></h3>
      <h4 style="color: <%= monster_color2.to_hex[0] %>;"><%= Move.where(id: Monster.where(id:@monid2).pluck(:move_id).first).pluck(:description).first %></h4>
    </div>
  </div>

  <div class = card_container>

  </div>


  <div class = stats_container>

    <div class = stats_container_inside>
      <p style="color: <%= monster_color2.to_hex[0] %>;"><%= Monster.where(id: @monid2).pluck(:name).first %></p>
      <p style="color: <%= monster_color2.to_hex[1] %>;">Equiped item: None</p>
      <p style="color: <%= monster_color2.to_hex[2] %>;">Status: Healthy</p>
      <p style="color: <%= monster_color2.to_hex[3] %>;">HP:
        <% for i in 1..Monster.where(id: @monid2).pluck(:healthpoints).first do %>
          <%= "●" %>
        <% end %></p>
    </div>

    <div class = option-row>
      <p>Attacks: </p>
      <button type="button"> <%= Move.where(id: Monster.where(id:@monid2).pluck(:move_id).first).pluck(:name).first %></button>
      <button type="button">No item equiped!</button>
    </div>

    <div class = option-row>
      <p></p>
      <button type="button">Switch</button>
      <button type="button">End Turn</button>
      <button type="button">Equip</button>
    </div>

  </div>




</div>