<!DOCTYPE html>
<html>
  <head>
    <title>Xmonka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div style="text-align: center;">
      <%= link_to image_tag("xmonkalogo.svg", :alt => "xmonka_logo", size: '250x250') ,"/" %>
        <h6>
        <% if Current.user == nil %>
        <%= "No user logged in" %>
        <% else %>
        <%= "Logged as:" + Current.user.username %>
          <% end %>
        </h6>
      </div>
    <%= yield %>
  </body>
</html>
